@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2.5rem;
  /* justify-content: start; */
  /* align-items: start; */
  height: 90vh;
}

.card-container {
  --shadow-size: 10px;
  --shadow-at-hover: 5px;
  border: 1.5px solid black;
  padding: 1rem;
  box-shadow: var(--shadow-size) var(--shadow-size);
  width: 30%;
  cursor: pointer;
  transition: box-shadow .2s, transform .2s;
}

.card-container:hover {
  box-shadow: var(--shadow-at-hover) var(--shadow-at-hover);
  transform: translateX(var(--shadow-at-hover)) translateY(var(--shadow-at-hover));
}

.card .title {
  font-size: 10px;
}

.card .description {

}