@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

.card-layout {
  display: flex;
  padding: 1rem;
  border: 1px solid green;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  height: 90vh;
}

.card-container {
  border: 1px solid black;
 box-shadow: 5px 5px;
 width: 30%;
 cursor: pointer;
}

.card-container::hover {
 background: red;
}
