<mat-card>
    <mat-card-header>User Login</mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" name="username">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" name="password">
            </mat-form-field>
          </form>
          <div style="display: flex; gap: 10px;">
            <button mat-raised-button type="submit" color="primary">Login</button>
            <a mat-raised-button color="accent">Register</a>
          </div>
    </mat-card-content>
</mat-card>