body {
    margin: 0;
}

.container {
    display: flex;
    /* flex-flow: column-reverse wrap-reverse; */
    /* flex-direction: column; */
    /* align-items: baseline; */
    height: 400px;
    /* flex-wrap: wrap; */
    border: 6px solid black;
    /* align-content: space-between; */

}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /* flex-grow: 1; */
    /* width: 8rem; */
    /* flex-shrink: 0; */
}

.item-1 {
    background-color: #b4bf35;
    /* padding-bottom: 3rem; */
    /* flex-basis: 400px; */
    align-self: flex-start;
}

.item-2 {
    background-color: #b95f21;
    /* flex-shrink: 4; */
    align-self: flex-end;
    /* padding-bottom: 5rem; */
}

.item-3 {
    background-color: #1c4c56;
    align-self: center;
    /* order: 1; */
    /* flex-grow: 1; */
    /* font-size: 3rem; */
}

.item-4 {
    background-color: #cf8276;
    align-self: stretch;
    /* flex-shrink: 4; */
}

.item-5 {
    /* flex-grow: 1; */
    /* align-self: auto; */
    background-color: #6B0803;
}

.item-6 {
    /* flex-grow: 1; */
    background-color: #1c4c56;
}

.item-7 {
    /* order: 2; */
    background-color: #b95f21;
}

.item-8 {
    background-color: #01234a;
}

.item-9 {
    background-color: #aad041;
}