/* You can add global styles to this file, and also import other style files */
/* Base global css setup */
/* @import '../node_modules/alertifyjs//build/css/alertify.min.css';
@import '../node_modules/alertifyjs//build/css/themes/bootstrap.min.css';
@import '../node_modules/alertifyjs//build/css/themes/default.min.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }